# JetBrains project files
.idea

# NPM
node_modules

# NativeScript application
hooks
platforms
.history/vuejx/app/pages/App_20200811120357.vue
.history/vuejx/app/pages/App_20200811105431.vue
.history/vuejx/app/App_Resources/iOS/build_20200811121644.xcconfig
.history/vuejx/app/App_Resources/iOS/build_20200811121643.xcconfig
.history/vuejx/app/App_Resources/iOS/build_20200811121450.xcconfig
.history/vuejx/app/App_Resources/iOS/build_20200811121449.xcconfig
.history/vuejx/app/App_Resources/iOS/build_20200806082327.xcconfig
vuejx/.settings/.jsdtscope
vuejx/.settings/org.eclipse.wst.jsdt.ui.superType.container
vuejx/.settings/org.eclipse.wst.jsdt.ui.superType.name
vuejx/app/.DS_Store
vuejx/app/App_Resources/iOS/build.xcconfig
